h1 {
  color: green;
  font-size: 34px;
}

p {
  color: blue;
}

* {
  font-variant: small-caps;
  background: black;
  color: white;
  font-size: 20px;
}

body {
  text-align: center;
}

div {
  max-width: 30%;
  display: inline-block;
  margin: 3%;
}
